
$text-color: #343030;
$text-color-light: #F4F6F9;

$text-2: #a0a0a0;

$border-color: #e1e1e1;
$border-dark: #B5B5B5;

$normal: #403432;
$hover: #776763;
$disabled: #C1B4B1;
$active: #5B3A32;

$bg-grey: #ECEAEA;